In [5]:
import pandas as pd
import os

In [6]:
JRC_DATASET_PATH = "../data/fixed_elevation_dataset.csv"

In [7]:
df = pd.read_csv(JRC_DATASET_PATH)

In [8]:
df

,id,name,installed_capacity_MW,pumping_MW,type,country_code,lat,lon,dam_height_m,volume_Mm3,storage_capacity_MWh,avg_annual_generation_GWh,pypsa_id,GEO,WRI
0,H1,Grande Dixence - Cleuson-Dixence (chandolin-fi...,2069.000000,NaN,HDAM,CH,46.073100,7.403400,1748.00,400.00,1764300.0,1400.0000,NaN,45218.0,WRI1004074
1,H10,Chiotas entracque,1064.000000,1184.0,HPHS,IT,44.177576,7.416505,130.00,30.18,16860.0,NaN,831.0,45432.0,WRI1002882
2,H100,S.massenza - Vezzano molveno UP_S MASS CL_1,377.000000,55.0,HPHS,IT,46.067653,10.983605,580.90,32.70,44800.0,NaN,251.0,NaN,NaN
3,H1000,Lugo di nazza Lugo Di Nazza Hydroelectric Powe...,38.503185,NaN,HDAM,FR,42.091000,9.316000,NaN,NaN,NaN,NaN,3125.0,39764.0,NaN
4,H1001,Pracomune,42.000000,35.6,HPHS,IT,46.547808,11.007077,377.00,NaN,NaN,NaN,3234.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4122,N1051,Tenneelva,3.400000,NaN,HDAM,NO,62.070161,5.830044,403.90,NaN,NaN,10.3000,NaN,NaN,NaN
4123,N1052,Skorga,2.900000,NaN,HDAM,NO,62.720174,7.770033,319.00,NaN,NaN,10.0000,NaN,NaN,NaN
4124,N1053,Storelva,8.000000,NaN,HDAM,NO,65.323082,12.995377,87.10,NaN,NaN,23.0000,NaN,NaN,NaN
4125,N1054,Vaksvik,7.740000,NaN,HDAM,NO,62.450298,6.895947,189.00,NaN,NaN,21.0000,NaN,NaN,NaN
4126,N1055,Fritzøe,3.300000,NaN,HDAM,NO,59.052309,10.018394,23.29,66.00,3036.0,12.9342,NaN,NaN,NaN