In [159]:
import pandas as pd

In [160]:
DATA_DIR = '../data'
BASE_DATASET = f'{DATA_DIR}/base_dataset.csv'

NEAREST_LAKES = f'{DATA_DIR}/nearest_lakes.csv'
ALTITUDE = f'{DATA_DIR}/fixed_elevation_dataset.csv'
WEATHER_STATS = f'{DATA_DIR}/hpp-database-with-weather-stats.csv'

In [161]:
base_df = pd.read_csv(BASE_DATASET)
with_attributes = base_df.rename(columns={
    'id': 'plant_id'
})

In [162]:
altitude_df = pd.read_csv(ALTITUDE)[[
    'id', 
    'altitude (m)'
]]
altitude_df.rename(columns={
    'id': 'plant_id',
    'altitude (m)': 'altitude_m'
}, inplace = True)
with_attributes = with_attributes.merge(altitude_df, left_on='plant_id', right_on='plant_id')

In [163]:
lakes_df = pd.read_csv(NEAREST_LAKES)[[
    'plant_id',
    'distance_km'
]]
lakes_df.rename(columns={
    'distance_km': 'nearest_lake_dist_km'
}, inplace = True)
with_attributes = with_attributes.merge(lakes_df, left_on='plant_id', right_on='plant_id')

In [164]:
weather_df = pd.read_csv(WEATHER_STATS)[[
    'id',
    'Days of Rain',
    'Inches of Rain',
    'Avg High Temp',
    'Avg Low Temp'
]]
weather_df.rename(columns={
    'id': 'plant_id',
    'Days of Rain': 'days_of_rain',
    'Inches of Rain': 'inches_of_rain',
    'Avg High Temp': 'avg_high_temp',
    'Avg Low Temp': 'avg_low_temp'
}, inplace = True)
with_attributes = with_attributes.merge(weather_df, left_on='plant_id', right_on='plant_id')

In [166]:
with_attributes

,plant_id,gwh_per_mm3,latitude,longitude,type,altitude_m,nearest_lake_dist_km,days_of_rain,inches_of_rain,avg_high_temp,avg_low_temp
0,H1,3.500000,46.073100,7.403400,HDAM,2364.0,1.481713,81,38.6,63,45
1,H102,0.478689,40.330500,22.125300,HDAM,181.6,5.013988,65,18.7,65,45
2,H1020,2.811060,44.449583,24.312917,HDAM,114.0,3.998609,72,23.4,62,42
3,H1021,2.392777,45.074583,24.364583,HDAM,225.0,1.777966,72,23.4,62,42
4,H1022,5.020080,44.857917,24.246250,HDAM,177.0,2.836758,72,23.4,62,42
...,...,...,...,...,...,...,...,...,...,...,...
579,N902,0.625000,58.579460,7.967914,HDAM,342.3,0.787522,113,30.0,49,36
580,N904,0.332353,62.112823,7.387787,HDAM,925.1,0.385848,113,30.0,49,36
581,N1004,0.659574,59.400865,9.550383,HDAM,286.5,3.199825,113,30.0,49,36
582,N1018,0.156790,64.254483,12.545905,HDAM,102.2,3.303480,113,30.0,49,36
583,N1055,0.195973,59.052309,10.018394,HDAM,4.2,2.643768,113,30.0,49,36

In [165]:
with_attributes.describe()

,gwh_per_mm3,latitude,longitude,altitude_m,nearest_lake_dist_km,days_of_rain,inches_of_rain,avg_high_temp,avg_low_temp
count,584.000000,584.000000,584.000000,584.000000,584.000000,584.000000,584.000000,584.000000,584.000000
mean,4.362764,57.413022,11.779851,398.965925,3.376309,106.243151,29.348288,52.982877,38.893836
std,12.984496,8.850098,7.890655,360.869828,3.308829,16.297274,6.312752,6.728479,5.127101
min,0.004603,37.829642,-8.500000,-1.900000,0.169887,43.000000,14.400000,47.000000,35.000000
25%,0.484287,47.067323,7.005993,122.000000,1.386615,105.000000,26.900000,49.000000,36.000000
50%,1.155219,60.227756,10.045174,312.700000,2.480934,113.000000,30.000000,49.000000,36.000000
75%,3.064718,63.034046,16.846657,606.150000,4.072938,113.000000,30.000000,58.000000,41.000000
max,207.834196,70.773472,30.706361,2774.300000,35.348131,170.000000,65.400000,72.000000,59.000000